<nav>
  <div class="nav-wrapper grey darken-3">
    <div class="row">
      <div class="col s12">
        <a href="#" class="brand-logo">{{title}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">New Raid</a></li>
          <li><a href="#">Raid History</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="raiders.length > 0">
  <h4>Raiders</h4>
  <div *ngFor="let person of raiders">
    <app-person [person]="person" 
      (click)="moveLocationToPerson(person)"></app-person>
  </div>
</div>

<div *ngIf="people.length > 0">
  <h4>People</h4>
  <div *ngFor="let person of people">
    <app-person [person]="person" 
      (click)="moveLocationToRaider(person)"></app-person>
  </div>
</div>