.deathknight-color{
    background-color: #C41F3B;
    color: #FFFFFF;
}

.demonhunter-color{
    background-color: #A330C9;
    color: #FFFFFF;
}

.druid-color{
    background-color: #FF7D0A;
    color: #FFFFFF;
}

.hunter-color{
    background-color: #ABD473;
    color: #FFFFFF;
}

.mage-color{
    background-color: #69CCF0;
    color: #FFFFFF;
}

.monk-color{
    background-color: #00FF96;
    color: #000000;
}

.paladin-color{
    background-color: #F58CBA;
    color: #FFFFFF;
}

.priest-color{
    background-color: #FFFFFF;
    color: #000000;
}

.rogue-color{
    background-color: #FFF569;
    color: #000000;
}

.shaman-color{
    background-color: #0070DE;
    color: #FFFFFF;
}

.warlock-color{
    background-color: #9482C9;
    color: #FFFFFF;
}

.warrior-color{
    background-color: #C79C6E;
    color: #FFFFFF;
}