
<div>
  <h4>New Character</h4>
  <form materialize class="col s12 m6 ng-pristine ng-valid ng-touched">
    <div class="row">
      <div class="col s12 m6 input-field">
        <label for="character-name">
          Character Name
        </label>
        <input id="character-name"
          class="validate"
          placholder="Character Name"
          type="text" />
      </div>
      <!--<div class="col s12 m6">
        <a class="dropdown-button btn" href="#" 
          data-activates="class-dropdown" 
          materialize="dropdown">
          Select a Class
        </a>
        <ul id="class-dropdown" class="dropdown-content">
          <li>Death Knight</li>
          <li>Demon Hunter</li>
          <li>Druid</li>
          <li>Hunter</li>
          <li>Mage</li>
          <li>Monk</li>
          <li>Paladin</li>
          <li>Priest</li>
          <li>Rogue</li>
          <li>Shaman</li>
          <li>Warlock</li>
          <li>Warrior</li>
        </ul>
      </div>-->
    </div>
    <div class="row">
      Buttons here 3 groups of 4
    </div>
  </form>
</div>