
<div>
  <h4>New Character</h4>
  <form materialize class="col s12 m6 ng-pristine ng-valid ng-touched">
    <div class="row">
      <div class="col s12 m6 input-field">
        <label for="character-name">
          Character Name
        </label>
        <input id="character-name"
          class="validate"
          type="text" />
      </div>
      <div class="col s12 m6 input-field">
        <label for="character-class">
          Character Class
        </label>
        <input id="character-class"
          class="validate"
          type="text"
          [value]="characterClass" 
          readonly/>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let class of classNames" class="col s3">
        <app-class-button [className]="class"
          (click)="setText(class)"></app-class-button>
      </div>
    </div>
  </form>
</div>